.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-float {
  float: left;
  margin: 0.75em;
  max-height: 40rem;
}

img {
  height: 25rem;
}

* {
  box-sizing: border-box;
}

.more-info {
  margin-top: 1em;
  padding: 0.75em;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
}

html body {
  background-color: #f4f4f2;
}

#centered-search {
  background-image: url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.reduced-height {
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#movies {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
}
